.course-page {
  @include wh(100%, 100%);
  @include flex-justify-align(flex-start, flex-start);
  flex-direction: column;
  overflow: hidden;
  .menu-group {
    flex: 0 0 format(88);
    @include wh(100%, format(88));
    @include flex-justify-align(flex-start, flex-start);
    overflow: hidden;
    /* #ifdef H5 */
    ::v-deep .uni-scroll-view-content {
      @include flex-justify-align(flex-start, flex-start);
      padding: 0 format(20);
    }
    /* #endif */
    .menu-item {
      @include wh(auto, 100%);
      @include flex-justify-align(center, center);
      @include sc(format(34), #3D4655);
      flex: 0 0 format(104);
      transition: all ease 0.5s;
      &.active {
        @include sc(format(40), #1D65E3);
      }
    }
  }
  .swiper-group {
    @include wh(calc(100% - #{format(60)}), format(228));
    padding: 0 format(30);
    .swiper-info {
      @include wh(100%, 100%);
      border-radius: format(16);
      .swiper-item-info {
        @include wh(100%, 100%);
        border-radius: format(16);
        .image-info {
          @include wh(100%, auto);
          object-fit: contain;
        }
      }
    }
  }
  .hot-course-tab {
    flex: 0 0 format(96);
    @include wh(100%, format(96));
    @include flex-justify-align(flex-start, flex-start);
    overflow: hidden;
    /* #ifdef H5 */
    ::v-deep .uni-scroll-view-content {
      @include flex-justify-align(flex-start, flex-start);
      padding: 0 format(20);
    }
    /* #endif */
    .hot-course-item {
      @include wh(auto, 100%);
      @include flex-justify-align(center, center);
      @include sc(format(34), #3D4655);
      flex: 0 0 format(104);
      transition: all ease 0.5s;
      position: relative;
      &.active {
        @include sc(format(40), #1D65E3);
        transition: all ease 0.5s;
        &::before {
          content: '';
          @include wh(format(68), format(6));
          background-color: #1D65E3;
        }
      }
    }
  }
  .hot-course-info {
    @include wh(100%, format(198));
  }
}
