.course-page {
  @include wh(100%, 100%);
  @include flex-justify-align(flex-start, flex-start);
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  background: $default_color;
  .menu-group {
    flex: 0 0 format(88);
    @include wh(100%, format(88));
    @include flex-justify-align(flex-start, flex-start);
    transition: all ease 0.5s;
    overflow-y: hidden;
    overflow-x: auto;
    /* #ifdef H5 */
    ::v-deep .uni-scroll-view-content {
      @include flex-justify-align(flex-start, flex-start);
      padding: 0 format(20);
    }
    /* #endif */
    margin-right: format(200);
    width: calc(100% - #{format(200)});
    .menu-item {
      @include wh(auto, 100%);
      @include flex-justify-align(center, center);
      @include sc(format(34), #3D4655);
      display: inline-flex;
      flex: 0 0 format(104);
      transition: all ease 0.5s;
      &.active {
        @include sc(format(40), #1D65E3);
      }
    }
  }
  .swiper-group {
    @include wh(calc(100% - #{format(60)}), format(228));
    padding: 0 format(30);
    .swiper-info {
      @include wh(100%, 100%);
      border-radius: format(16);
      .swiper-item-info {
        @include wh(100%, 100%);
        border-radius: format(16);
        .image-info {
          @include wh(100%, 100%);
          object-fit: contain;
        }
      }
    }
  }
  .hot-course-tab {
    flex: 0 0 format(96);
    @include wh(100%, format(96));
    @include flex-justify-align(flex-start, flex-start);
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: format(30);
    /* #ifdef H5 */
    ::v-deep .uni-scroll-view-content {
      @include flex-justify-align(flex-start, flex-start);
      padding: 0 format(20);
    }
    /* #endif */
    .hot-course-item {
      @include wh(auto, 100%);
      @include flex-justify-align(center, center);
      @include sc(format(34), #3D4655);
      // margin-top: format(30);
      // display: inline-flex;
      flex: 0 0 format(124);
      // padding: 0 format(20);
      transition: all ease 0.5s;
      position: relative;
      &.active {
        @include sc(format(40), #1D65E3);
        transition: all ease 0.5s;
        &::before {
          content: '';
          @include wh(format(68), format(6));
          background-color: #1D65E3;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  .hot-course-context {
    @include wh(100%, auto);
    margin-top: format(30);
    .hot-course-info {
      @include wh(calc(100% - #{format(60)}), format(198));
      padding: 0 format(30);
      margin-bottom: format(30);
    }
  }
}
